[submodule ".config/polybar/polybar-mic-volume"]
	path = .config/polybar/polybar-mic-volume
	url = https://github.com/MarcDonald/polybar-mic-volume.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
