
/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
  background: rgba(29, 31, 33, 0.8);
}

.noti-center.time {
  font-size: 24px;
}

/* Notifications */

.title {
    font-weight: bold;
    font-size: 14px;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    background:  rgba(25, 25, 25, 0.8);
}

.blurredBG.notification.critical {
    background: rgba(204, 87, 93, 0.8);
}

.notificationInCenter.critical {
    background: rgba(204, 87, 93, 0.8);
}

.notification.content {
    margin-left: 15px;
    margin-right: 15px;
}

/* Labels */

label {
    color: #dfdfdf;
}

label.notification {
    color: #dfdfdf;
}

label.deadd-noti-center.notification.body {
  padding: 8px 0;
}

label.critical {
    color: #fff;
}

.notificationInCenter label.critical {
    color: #fff;
}


/* Buttons */

button {
    background: transparent;
    color: #322;
    border-radius: 3px;
    border-width: 0px;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 3px;
    background: rgba(0, 20, 20, 0.2);
    border-width: 0px;
    border-top: transparent;
    border-color: #f00;
    color: #fee;
}

/* Custom Buttons */

.userbutton {
  background: rgba(255, 255, 255 , 0.15 );
}

.userbuttonlabel {
  color: #fee;
  font-size: 12px;
}

.userbutton:hover {
  background: rgba(255, 255, 255, 0.5);
}

.userbuttonlabel:hover {
  color: #fee;
}

button.buttonState1 {
  background: rgba(255, 255, 255 , 0.15 );
}

.userbuttonlabel.buttonState1 {
    color: #fee;
}

button.buttonState1:hover {
  background: rgba(0 , 20, 20, 0.2);
}

.userbuttonlabel.buttonState1:hover {
    color: #fee;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #fff;
}

button.buttonState2:hover {
    background: rgba( 0, 20, 20, 0.4);
}

.userbuttonlabel.buttonState2:hover {
    color: #fee;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 20px;
}
